.dark-mode .section7__subheader h1 {
  color: violet;
}

.dark-mode .line {
  background-color: yellow;
}

.line {
  width: 6.25rem;
  height: 0.125rem;
  background-color: blue;
  margin: 0 0.625rem;
}

.section7__subheader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.section7__subheader h1 {
  margin: 0;
  color: #555;
  cursor: default;
}

.container11 {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  grid-template-rows: repeat(3, auto);
  gap: 2px;
  padding: 0 1rem;
}

.box11 {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.box11:first-child {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.box11:nth-child(2) {
  grid-column: 2 / span 2;
  grid-row: 1;
}

.box11:nth-child(6) {
  grid-column: 3 / span 2;
  grid-row: 2;
}

.box11:nth-child(7) {
  grid-column: 5;
  grid-row: 2;
}

.box11:nth-child(9) {
  grid-column: 2 / span 2;
  grid-row: 3;
}

.box11 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.box11:hover img {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .section7__subheader {
    font-size: 38px;
  }

  .line {
    width: 7rem;
    height: 0.08rem;
    background-color: blue;
    margin: 0 0.625rem;
  }
}

@media (max-width: 480px) {
  .container11 {
    min-height: 100vh;
  }

  .section7__subheader h1 {
    font-size: 1.5rem;
  }

  .line {
    width: 2.5rem;
    height: 0.06rem;
    background-color: blue;
    margin: 0 0.625rem;
  }
}

.fadeInUp {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fadeInUp.visible {
  opacity: 1;
  transform: translateY(0);
}

.fadeIn {
  opacity: 0;
  transition: opacity 1s ease;
}

.fadeIn.visible {
  opacity: 1;
}

.fadeIn.delay-0 {
  transition-delay: 1s;
}

.fadeIn.delay-1 {
  transition-delay: 1.4s;
}

.fadeIn.delay-2 {
  transition-delay: 1.8s;
}

.fadeIn.delay-3 {
  transition-delay: 2.2s;
}

.fadeIn.delay-4 {
  transition-delay: 2.6s;
}

.fadeIn.delay-5 {
  transition-delay: 3s;
}

.fadeIn.delay-6 {
  transition-delay: 3.4s;
}

.fadeIn.delay-7 {
  transition-delay: 1.4s;
}

.fadeIn.delay-8 {
  transition-delay: 1.8s;
}

.fadeIn.delay-9 {
  transition-delay: 2.2s;
}
